name: Tibco Workflow

on:
  
  pull_request:
    branches: [ Dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2


      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
         java-version: 11.0.16+8
         distribution: 'adopt'
         cache: maven

          
      - name: Build with maven
        run: mvn clean install
		
#test
