name: CD Workflow

on:
  
  pull_request:
    branches: [ release ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: '1.8'
          distribution: 'adopt'
          cache: maven
      - name: Build with Maven
        run: mvn clean install
   

  tag-version:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Test
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}
          

  store-atifact:
    needs: tag-version 
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: '1.8'
        distribution: 'adopt'
        cache: maven
    - name: Build with Maven
      run: mvn clean install
    - name: Store artifact
      run: echo "Hello World"

 
  deployment:
    
    needs: store-atifact 
    environment: 'dev'
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: '1.8'
        distribution: 'adopt'
        cache: maven
    - name: Build with Maven
      run: mvn clean install

    
    - name: Deploy
      run: echo "Hello World!"
    - name: Store artifact
      run: echo "Hello World!"
  approval:
    needs: deployment
    runs-on: ubuntu-latest

    steps:
      - name: CINotify Email
  # You may pin to the exact commit or the version.
  # uses: cinotify/github-action@d99e3149178b27572a58ace227621c333884e3fb
        uses: cinotify/github-action@v1.1.0
        with:
    # Recipient email address
          to: ndey@tibco.com

    # Email subject
          subject: approval request to deploy in QA/UAT ENV for the aplication ( TEST ) 
    # Email body
          body: please approve ( https://github.com/venreddyk/git-hub-actions.git )	
          

  download-artifact:
    needs: approval
    environment: 'prod'
    runs-on: ubuntu-latest
    steps:
      - name: download-artifact
        run: echo "Hello world"
